body {
  margin: 0;
  padding: 0;
}

.order-btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 60px;
  font: bold 16px/60px Arial, sans-serif;
  color: #59aaff;
  background: #dddddd;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.order-btn:hover {
  background: #c5c4c4;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
}

.message {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  background: #ffffff;
  border-radius: 12px;
}
.message__title {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0;
  font: bold 16px/60px Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  background: #59aaff;
  border-radius: 12px 12px 0 0;
}
.message__close-btn {
  position: absolute;
  top: 22px;
  right: 20px;
}
.message__close-btn:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  cursor: pointer;
}

.form {
  font: 14px Arial, sans-serif;
}
.form__input {
  box-sizing: border-box;
  display: block;
  width: 260px;
  height: 25px;
  margin: 20px auto;
  padding: 0 15px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}
.form__submit {
  display: block;
  width: 230px;
  height: 40px;
  margin: 0 auto 15px;
  color: #ffffff;
  background: #d62f2f;
  border: none;
  border-radius: 4px;
}
.form__submit:hover {
  background: #bb2c2c;
  cursor: pointer;
}
